<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6df868ce-d955-4e33-90b2-67bde70b9851/resourcegroups/Learningweek2023/providers/Microsoft.Web/sites/WortketteBFF</ResourceId>
    <ResourceGroup>Learningweek2023</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wortkettebff.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7c14c7f9-d322-49a3-a002-718acdfa3f91</ProjectGuid>
    <PublishUrl>https://wortkettebff.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WortketteBFF</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>